:root {
  --footer-font: 'M PLUS Rounded 1c', sans-serif;
  --header-font: 'Sansita Swashed', sans-serif;
  --header-content-font: 'Saira', sans-serif;
  --main-title-font: 'Libre Caslon Text', sans-serif;
  --yellow: #F9d144;
  --cream: #FAF5E5;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: var(--footer-font);
  outline: none; border: none;
  text-decoration: none; 
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
  background: #FAF5E5;
}

/*==========| Background-image and frames |==========*/
#background-photo {
  background: url(../img/about-bg.png);
  background-size: cover;
  background-position: center;
}
  
.intro-header {
  background: rgba(0, 0, 0, 0.55);
  min-height: 100vh;
  height: auto;
  position: relative;
  overflow: hidden;
}
  
.yellow-frame {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
/*==================================================================*/


/*=============| Navigations and Icons Section Styles |=============*/
.navigation-bar {
  position: fixed;
  top: 23px; left: 0; right: 0;
  margin: 0 auto;
  background: rgba(1, 1, 1, 0.8);
  border-radius: 106px;
  width: 80%; 
  max-width: 869px; 
  height: auto; 
  padding: 1rem 2rem; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  border: .2rem solid #FCE18A;
}

.logo-name {
  display: none;
}

.logo {
  border-radius: 44px;
  width: 68px;
  height: 63px;
  position: relative;
  object-fit: cover;
  margin-left: 2rem;
}

.navigation {
  margin-left: auto;
}

.navigation-bar .navigation a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: var(--white);
}

.navigation-bar .navigation a:hover {
  color: var(--yellow);
}

.navigation-bar #toggler {
  display: none;
}

.navigation-bar .hamburger {
  display: none
}

.navigation-bar .fa-bars {
  font-size: 3rem;
  color: #333;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
  border: .1rem solid rgba(0,0,0,.3);
  display: none;
}
/*===================================================*/

/*=============| Header Content Section Styles |=============*/
#about-us {
  width: 80%;
  margin: 25rem auto;
  text-align: center;
  padding: 2rem;
}

#about-us h3 {
  color: var(--white);
  font-size: 10rem;
  text-decoration: underline;
  font-family: var(--footer-font);
  font-weight: 800;
}

#about-us p {
  color: var(--white);
  font-size: 3rem;
  padding-top: 2rem;
}
/*==================================================================*/

/*=================| Main Content Section Styles |==================*/
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 2rem;
}

.square {
  background: var(--white);
  height: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.yellow-square {
  background: rgba(246, 195, 11, 0.5);
  height: 45vw; 
}

.white-square {
  background: var(--white);
  width: 95%; 
  height: 95%; 
  border-radius: 1rem; 
}

.square h2 {
  text-align: center;
  padding-top: 5rem; 
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 3.7rem;
  font-family: var(--footer-font);
  font-weight: 1000;
}

.square p {
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
  font-family:  var(--footer-font);
  font-weight: 500;
}

.bee-image {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 1rem;
}
/*===========================================================*/

/*=============| Audio Contents Style |============*/
.media {
  display: flex;         
  justify-content: flex-end;  
  margin: 2rem 10%;
}
/*===========================================================*/

/*=============| Footer & Credit Contents Style |============*/
footer {
  position: relative; 
  background: url(../img/footer-bg.png) no-repeat center center;
  background-size: cover;
  padding: 2rem 1.5rem;
  z-index: 1; 
}

footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.7);
  z-index: -1;
}

footer .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  padding: 1rem;
  z-index: 1; 
  text-align: center;
}

footer .box-container .box {
  flex: 1 1 20rem;
  margin: 1rem;
}

footer .box-container .box h3 {
  color: var(--white);
  font-size: 3.8rem;
  font-family: var(--footer-font);
  padding: 0;
}

footer .box-container .box a {
  display: block;
  color: var(--white);
  font-size: 1.5rem;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
}

footer .box-container .box a:hover {
  color: var(--yellow);
}

.credit {
  background: var(--black);
  text-align: center;
  color: var(--white);
  padding: .85rem;
  font-style: oblique;
}
/*===========================================================*/





/*=============| Larger Desktop Viewports Style |=============*/
@media (max-width: 1360px) {
  .square h2 {
    font-size: 3.4rem;
  }

  .square p {
    font-size: 2.2rem;
  }
}

/*=============| Large Desktop Viewports Style |=============*/
@media (max-width: 1250px) {
  .square h2 {
    font-size: 2.7rem;
    padding-top: 2rem;
  }

  .square p {
    font-size: 1.7rem;
  }
}

/*=============| Desktop Viewports Style |=============*/
@media (max-width: 991px) {
  html {
      font-size: 58%;
  }

  .navigation-bar {
      padding: 2rem;
  }

  header {
      padding: 2rem 6rem;
  }

  #background-photo {
      background-position: left;
  }

  .square h2 {
    font-size: 2.8rem;
    padding-top: 1rem;
  }

  .square p {
    font-size: 1.2rem;
  }
}


/*=============| Tablet Viewports Style |=============*/
@media (max-width: 768px) {
  
  html {
    font-size: 55%;
  } 

  .header-content .content {
    text-align: center;
    padding: 2rem 0;
    margin-left: 2.2rem;
  }

  .header-content .content h1 {
    font-size: 7.5rem;
  }

  .header-content .content span {
    font-size: 3rem;
  }

  .navigation-bar {
      width: 90%;
      padding: 1rem 1rem;
  }

  .navigation-bar .fa-bars {
      display: block;
      color: white;
  }

  .navigation-bar .hamburger {
    display: block;
    cursor: pointer; 
    font-size: 3rem; 
    transition: transform 0.3s ease; 
    color: white;
    margin-right: 5rem;
  }

  .navigation-bar .navigation {
      position: absolute;
      top: 100%; left: 0; right: 0;
      background: #eee;
      border-top: .1rem solid rgba(0,0,0,.1);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .navigation-bar #toggler:checked ~ .navigation {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      background-color: transparent;
  }

  .navigation-bar .navigation a {
      margin: 1rem 0;
      padding: 1.5rem;
      background: rgba(1, 1, 1, 0.8);
      color: #fff;
      border: .18rem solid #FCE18A;
      border-radius: 5rem;
      display: block;
      text-align: center;
      text-decoration: none;
  }

  main {
    grid-template-columns: 1fr;
  }

  .square {
    height: 80vw;
  }

  .square h2 {
    font-size: 4.4rem;
    padding-top: 1rem;
  }

  .square p {
    font-size: 2rem;
    padding-top: 1rem;
  }

  .media {
    flex-direction: column; 
    align-items: center; 
}

  audio {
      max-width: 100%;
  }
}

/*=============| Smaller Tablets/ Larger Mobile Viewports Style |=============*/
@media (max-width: 580px) {
  .square h2 {
    font-size: 4rem;
    padding-top: 1rem;
  }

  .square p {
    font-size: 1.9rem;
    padding-top: 1rem;
  }

  #about-us h3 {
    font-size: 8rem;
  }

  .media {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 20px;              
  }
}
/*=============| Mobile Viewports Style |=============*/
@media (max-width: 480px) {
  html {
      font-size: 48%;
  }

  .header-content {
      min-height: 70vh;
  }

  .navigation-bar {
      flex-direction: column;
      height: auto;
      padding: 1rem;
  }
  
  .navigation-bar a {
      padding: 0.5rem 0;
  }

  footer .box-container {
    text-align: left;
  }

  .square h2 {
    font-size: 4rem;
    padding-top: 1rem;
  }

  .square p {
    font-size: 1.7rem;
    padding-top: 1rem;
  }
}

/*=============| Small Mobile Viewports Style |=============*/
@media (max-width: 430px) {
  html {
      font-size: 42%;
  }

  .header-content {
      min-height: 90vh;
  }

  .navigation-bar {
      flex-direction: column;
      height: auto;
      padding: 1rem;
  }
  
  .navigation-bar a {
      padding: 0.5rem 0;
  }

  .square h2 {
    font-size: 3.3rem;
  }
  
  .square p {
    font-size: 1.6rem;
  }
}